@page
@model ContactManagement.Pages.CreateModel
@{
    ViewData["Title"] = "Adicionar Contato";
}

<h1>Adicionar Novo Contato</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Contact.Phone" class="control-label">Telefone (Contato)</label>
                <input asp-for="Contact.Phone" class="form-control" placeholder="Apenas 9 dígitos" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Contact.Email" class="control-label">E-mail</label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a href="/" class="btn btn-secondary">Voltar para Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}