@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Contatos</h1>
</div>

<p>
    <a href="/Create" class="btn btn-primary">Adicionar Novo Contato</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Telefone </th>
            <th>E-mail</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Contacts.Any())
        {
            @foreach (var contact in Model.Contacts)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Email</td>
                    <td class="text-center">
                        <a href="/Details?id=@contact.Id" class="btn btn-info btn-sm">Ver</a>
                        <a href="/Edit?id=@contact.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/Delete?id=@contact.Id" class="btn btn-danger btn-sm">Deletar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Nenhum contato encontrado.</td>
            </tr>
        }
    </tbody>
</table>